@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Montserrat:wght@300&family=Nunito:wght@500&family=Open+Sans&family=Roboto&display=swap');

.wrapper {
    margin: 1rem auto;
    
}
.mainContent {
    width: 80vw;
    text-align: center;
    padding-top: 3%;
    border-radius: 15px;
    display: inline-block;

}
.pageTitle {
    text-align: center;
    font-family: "nunito";
    font-size: 40px;
}
.documentWrapper {
    width: 32%;
    height: fit-content;
    display: inline-block;
    text-align: center;
}
.docRg {
    margin: auto;
    width: 70%;
    display: block;
}
.docText {
    font-family: "nunito";
    display: inline;
    font-size: 30px;
}
.uploadButton {
    padding: 5px;
    border-radius: 12px;
    border: 2px solid #000000;
    border-bottom: 4px solid black;
    margin-left: 3%;
    display: inline;
    min-width: 3rem;
}
.documentName {
    font-family: "nunito";
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 5%;
}

@media screen and (max-width: 1650px) {
    .mainContent {
        width: 100vw;
    }
    .documentName {
    font-family: "nunito";
    font-size: 35px;
    margin-bottom: 0;
    margin-top: 5%;
}
    .documentWrapper {
        width: 70%;
    }
    .uploadButton {
        margin-left: 5%;
    }
}

@media screen and (max-width: 1000px) {
    .documentWrapper {
        width: 100%;
    }
    .mainContent {
        margin-top: 0;
    }
    .docRg {
        width: 80%;
    }
    .docText {
        font-size: 25px;
    }
    .documentName {
        font-size: 30px;
    }
    .pageTitle {
        margin-top: 5%;
        font-size: 38px;
    }
}