.container {

    margin: 1rem auto;
    align-items: center; /* Isso centraliza os elementos horizontalmente */
}

.mainContent {
    display: block;
    margin: 1rem auto; /* Isso centraliza o elemento horizontalmente */
    width: 50vw;
    height: 60vh;
    text-align: center; /* Isso centraliza o texto dentro do mainContent */
}

.map {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1200px) {
    .mainContent {
        margin: 1rem auto;
        width: 70vw;
        height: 60vh;
    }
}

@media screen and (max-width: 600px) {
    .mainContent {
        margin: 1rem auto;
        width: 100vw;
        height: 60vh;
    }
}
