@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Montserrat:wght@300&family=Nunito:wght@500&family=Open+Sans&family=Roboto&display=swap');

.wrapper {
    margin: 1rem auto;
}
.mainContent {
    width: 100%;
    text-align: center;
    padding-top: 3%;
    border-radius: 15px;
    display: inline-block;

}
form {
    min-width: 90%;
}
.pageTitle {
    text-align: center;
    font-family: "nunito";
    font-size: 35px;
}
.documentWrapper {
    width: 33%;
    height: fit-content;
    display: inline-block;
    text-align: center;
}
.docRg {
    margin: auto;
    width: 60%;
    display: block;
}

.uploadButton {
    padding: 5px;
    border-radius: 12px;
    border: 2px solid #000000;
    border-bottom: 4px solid black;
    margin-left: 3%;
    display: inline;
    min-width: 3rem;
}
.documentName {
    font-family: "nunito";
    font-size: 29px;
    margin-bottom: 0;
    margin-top: 5%;
}

@media screen and (max-width: 1650px) {
    .mainContent {
        width: 100%;
    }
    input {
        max-width: 80%;
    }
    .documentName {
    font-family: "nunito";
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-top: 5%;
}
    .documentWrapper {
        min-width: 35rem;
        margin: 0 2rem;
    }
}

@media screen and (max-width: 1000px) {
    .documentWrapper {
        width: 70%;
        height: fit-content;
    }
    .mainContent {
        margin-top: 0;
    }
    .docRg {
        width: 80%;
    }
    .docText {
        font-size: 25px;
    }
    .documentName {
        font-size: 25px;
    }
    .pageTitle {
        margin-top: 2%;
        font-size: 35px;
    }
}
@media screen and (max-width: 800px) {
    .documentWrapper {
        width: 90%;
    }
    .mainContent {
        margin-top: 0;
    }
    .docRg {
        width: 80%;
    }
    .docText {
        font-size: 25px;
    }
    .documentName {
        font-size: 25px;
    }
    .pageTitle {
        margin-top: 5%;
        font-size: 35px;
    }
}