.navbarUl {
    justify-content: space-between;
    list-style: none;
    display: flex;
    margin: 0;
    font-family: 'nunito';
    transition: all 0.5s ease;
}

.ulContainer {
    margin: auto;
    max-width: 650px;
}
.weather {
    background-color: aliceblue;
    width: fit-content;
}
nav {
    background-color: rgb(2, 49, 92);
    color: aliceblue;
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.5);
    min-width: fit-content;
    float: left;
}

.navItem {
    padding-top: 2.1rem;
    padding-left: 20px;
    padding-right: 20px;
    min-width: fit-content;
    font-family: 'nunito';
    font-weight: bold;
    color: aliceblue;
    vertical-align: middle;
}

.navItem:hover {
    background-color: aliceblue;
    color: rgb(2, 49, 92);
}

.registerBtn {
    display: inline;
    background-color: yellow;
    width: fit-content;
}

.ilhaLogo {
    height: auto;
    max-width: 100px;
    padding: 10px 30px;
    display: flex; /* Adicionado */
    align-items: center; /* Adicionado */
    justify-content: center; /* Adicionado */
}

@media screen and (max-width: 600px) {
    .navbarUl {
      flex-direction: column;
    }
  }

.openMenu {
    /* Seus estilos para o menu aberto vão aqui */
}