.tempContainer {
    position: fixed;
    bottom: 0;
    margin-bottom: 1rem;
    right: 1%;
    width: fit-content;
    border: 1px solid #333;
    padding: 0.5rem;
    border-radius: 24px;
    background-color: rgb(2, 49, 92);
    color: aliceblue;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.3);
}
.tempName {
    font-family: 'nunito';
    font-size: 15px;
    display: inline;
}
.tempValue {
    font-size: 15px;
    width: fit-content;
    margin-left: 1rem;
    font-family: 'nunito';
    display: inline;
}